version: "3"

services:
    db:
        image: mysql:8.0
        volumes:
            - ./db/var/lib/mysql:/var/lib/mysql
            - ./db/etc/mysql/conf.d:/etc/mysql/conf.d
        ports:
            - 3306:3306
        environment:
            - MYSQL_DATABASE=peerperk
            - MYSQL_USER=user
            - MYSQL_PASSWORD=password
            - MYSQL_ROOT_PASSWORD=password
        platform: linux/x86_64
    app:
        build:
            context: ./app
        volumes:
            - ../src:/work/backend
        depends_on: ["db"]
    web:
        build:
            context: ./web
        ports:
            - 80:80
        volumes:
            - ../src:/work/backend
        depends_on: ["app"]
    mailhog:
        image: mailhog/mailhog:latest
        ports:
            - "8025:8025"
            - "1025:1025"
