@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-bg-basic {
    background-color: #f3f4f6;
}

.admin-bg-green {
    background-color: #079292;
}

.admin-text-green {
    color: #079292;
}

.user-bg-gray {
    background-color: #F3F3F3;
}

.user-tab-text-green {
    color: #36B1BF;
}

.user-tab-bg-green {
    background-color: #36B1BF;
}

.user-border-green {
    border-color: #36B1BF;

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
