@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-bg-basic {
    background-color: #f3f4f6;
}

.admin-bg-green {
    background-color: #079292;
}

.admin-text-green {
    color: #079292;
}

.admin-border-green {
    border-color: #079292;
}

.user-bg-gray {
    background-color: #F7FAFC;
}

.user-tab-text-green {
    color: #36B1BF;
}

.user-tab-bg-green {
    background-color: #36B1BF;
}

.user-border-green {
    border-color: #36B1BF;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-patua {
    font-family: 'Patua One', cursive;
}

.text-peer-request {
    color: #C0C81E;
}
.bg-peer-request {
    background-color: #C0C81E;
}
.border-peer-request {
    border-color: #C0C81E;
}
